<html>
    <head>
       <title>Login Page</title>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
   
    </head>
    <body>
      <h1>Login Page</h1>
      ENTERED
        <form action="/logincheck" method ="post">
            <p>
            <label for="emailid">Email Id:</label>
            <input type="text" id ="emailid" name="emailid"
            </p><p>
            <label for="password">PASSWORD:</label>
            <input type="password" id ="password" name="password"
            </p><p>
            <input  type="submit" value="Login">
            </p>
        </form>
    </body>
</html>
